  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

  *{
      margin: 0;
      padding: 10;
      box-sizing: border-box;
  }

.test{
    background: url('https://cdn.discordapp.com/attachments/668636663492116482/686495463251509272/707072.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
  }

  #pr-img {
    border-radius: 500px;
    transform: translateY(15px);
    box-shadow: 0 0 0 5pt white;
    /* box-shadow: 0 0 10pt 5pt white; */
  }

  #rgb{
    width: 100%;
    height: 145%;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 1000% 1000%;
    position: absolute;
    top: 0;
    left: 0;
    animation: change 10s ease-in-out infinite;
    z-index: -1000000; 
  }

#col-p {
  font-size: 1.2em;
  font-weight: 700;
}

#audio-bg {
  z-index: 10000;
  margin: 0 auto;
    /* background: white; */
    padding: 2rem;
  text-align: center;
  width: 20%;
}
.button-aud {
  font-size: 2rem;
  background: transparent;
  padding: 1rem;
  vertical-align: middle;
  border: none;
  outline: none;
  cursor: pointer;
  color: black;
}
#aud-cont {
  background: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 0px;
}
  @keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
  }

  /* image {
    background-image: url("https://cdn.discordapp.com/attachments/668636663492116482/686481700859281431/loadscreen-1.PNG");
    background-color: #cccccc;
    animation: change 10s ease-in-out infinite;
   } */

  .column {
    list-style-type: none;
    margin: 3rem;
    background: #515459;
    border-radius: 1em;
    padding: 14px 16px;
    background-color: #f9f9f9;
    border-radius: 0.50em;
    min-width: 200px;
    margin-top: 5rem;
    min-height: 100px;
    box-shadow: 0px 8px 16px 0px rgba(134, 113, 113, 0.2);
    z-index: 1;     
    max-height:250px;/* you can change as you need it */  
  }

  .grid-item { 
    padding: 20px;
    font-size: 16px;
    text-align: center;
  }
.staff-grid {
display: flex;
}
  img {
    border-radius: 50%;
    }
  .divider{
    width: 100%;
    height: 2px;
    background: black;
  }

  .middle-text {
    text-align: center;
    margin-top: 1rem;
  }

  #middle-text {
    display: inline-block;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 8px solid #ffffff;
    position: relative;
    padding: 3rem 10rem;
    margin-top: 0.50em;
  }

  .col-header {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
  }
#scroll {
  padding: 2px;
}
  html{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: none; 
    /* scrollbar-width: none; 
    -ms-overflow-style: none; */
  }
  
  html::-webkit-scrollbar {
      width: 00px; /* For Chrome, Safari, and Opera */
  }
  #audio-bg {
    border-radius: 0px;
    /* border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 0px; */
    padding: 2rem;
    z-index: 10000;
  margin: 0 auto;
  text-align: center;
  width: 20%;
  }
  .mar {
    width: 50%;
    height: auto;
    
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: white;
  }
  #background {
    position: absolute;
  }

  .alert.warning {background-color: #ff9800;}

  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 1em;
    
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
